.background {
  background-image: url("./fondo4EM.jpg");
  background-size: cover;
}
.navigation {
 background-color: aquamarine;
}
.main h1{
  text-align: center;
  color: #4E510F;
  font-family: 'Monoton', cursive, 'Russo One', sans-serif; 
}
.main h2{
  color: #4E510F;
  font-family: 'Permanent Marker', cursive, 'Russo One', sans-serif; 
}
.main p{
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}